.header {
    width: 100vw;
    height: 7vh;
}

.main-container {
    display: flex;
    justify-content: center;
    height: 91vh;
    width: 100vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vh;
    }
    .main-layout {
        height: 93vh;
    }
}