.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #e1e8ed;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-container .tweet-list {
    width: 25vw;
    padding: 0.5em;
}

.main-container .tweet {
    width: 25vw;
    padding: 0.5em;
}

.main-container .message-list {
    width: 25vw;
    padding: 0.5em;
}

.main-container .message {
    width: 25vw;
    padding: 0.5em;
}

.main-container .search {
    width: 25vw;
    padding: 0.5em;
}

.main-container .follow {
    width: 25vw;
    padding: 0.5em;
}