.div-form {
    
    .input-textarea {
        margin-top: 1vh;
    }

    .img-attached {
        height: 39vh;
        width: 100%;
        margin-top: 1vh;
    }

    .div-img-attachment {
        display: flex;
        flex-direction: column;

        .div-btns {
            display: flex;
            justify-content: flex-end;
            margin-top: 2vh;

            .btn {
                &-clear {
                    border-radius: 1em;
                    margin-right: 0.5vw;
                }

                &-tweet {
                    border-radius: 1em;
                }
            }
        }
    }
}