.div-form {
    .btn-login {
        width: 100%;
    }
}

.div-social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2vh;

    .btn-login {
        width: 100%;
    }
}